---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Card from "../components/Card.astro";

const core = [
  { name: "TypeScript", icon: "devicon:typescript" },
  { name: "NodeJS", icon: "devicon:nodejs" },
  { name: "NestJS", icon: "devicon:nestjs" },
  { name: "PostgreSQL", icon: "devicon:postgresql" },
  { name: "Astro", icon: "devicon:astro" },
  { name: "React", icon: "devicon:react" },
  { name: "TailwindCSS", icon: "devicon:tailwindcss" },
];

const tool = [
  { name: "VScode", icon: "devicon:vscode" },
  { name: "AI-Assisted", icon: "game-icons:vintage-robot" },
  { name: "Trello", icon: "devicon:trello" },
  { name: "Notion", icon: "devicon:notion" },
];

const devops = [
  { name: "Bash", icon: "devicon:bash" },
  { name: "Docker", icon: "devicon:docker" },
  { name: "Cloudflare", icon: "devicon:cloudflare" },
  { name: "XPipe", icon: "" },
  { name: "CI/CD", icon: "" },
  { name: "Github", icon: "devicon:github" },
  { name: "Git", icon: "devicon:git" },
];

const toExplore = [
  { name: "Solidity", icon: "devicon:solidity" },
  { name: "gRPC/tRPC", icon: "devicon:trpc" },
  { name: "Java", icon: "devicon:java" },
  { name: "Kotlin", icon: "devicon:kotlin" },
  { name: "Mobile Dev", icon: "" },
];

const used = [
  { name: "Rust", icon: "devicon:rust" },
  { name: "Deno", icon: "devicon:denojs" },
  { name: "AdonisJS", icon: "" },
  { name: "NextJS", icon: "devicon:nextjs" },
  { name: "MongoDB", icon: "devicon:mongodb" },
  { name: "Redis", icon: "devicon:redis" },
];

const softSkills = [
  { name: "Adaptability", icon: "game-icons:chameleon-glyph" },
  { name: "Team work", icon: "f7:gear" },
  { name: "Prioritization", icon: "iconoir:task-list" },
  { name: "Perseverance", icon: "mynaui:mountain" },
  { name: "Problem Solving", icon: "iconoir:puzzle" },
  {
    name: "Continuous Learning",
    icon: "fluent:book-arrow-clockwise-20-filled",
  },
];
---

<Layout>
  <div class="flex justify-center items-start mt-6 pb-12">
    <div class="w-full max-w-screen-md px-6 space-y-6">
      <div class="grid grid-cols-2 gap-4">
        <Card extraClass="flex items-center justify-center p-3 text-gray-600">
          <Icon name="flagpack:fr" class="mr-3" />
          French</Card
        >
        <Card extraClass="flex items-center justify-center p-3 text-gray-600">
          <Icon name="flagpack:gb-ukm" class="mr-3" />
          English C1 (EF SET 2025)
        </Card>
      </div>

      {
        [
          { title: "Core", data: core },
          { title: "Used", data: used },
          { title: "DevOps", data: devops },
          { title: "Tools", data: tool },
          { title: "Technologies Worth Exploring", data: toExplore },
        ].map((category) => (
          <>
            <h2 class="text-xl text-slate-700 mb-3">{category.title}</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
              {category.data.map((tech) => (
                <Card extraClass="flex items-center justify-center p-3">
                  {tech.icon !== "" ? (
                    <Icon name={tech.icon} class="text-2xl mr-3" />
                  ) : (
                    <span class="text-xl mr-3">Ø</span>
                  )}
                  <p class="text-gray-600">{tech.name}</p>
                </Card>
              ))}
            </div>
          </>
        ))
      }
      <h2 class="text-xl text-slate-700 mb-3">Soft Skills</h2>

      <div class="grid grid-cols-2 gap-4">
        {
          softSkills.map((skill, index) => (
            <Card extraClass="flex items-center justify-center p-3 text-gray-600">
              <Icon name={skill.icon} class="text-2xl mr-3" />
              {skill.name}
            </Card>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
